<div class="container">
  <h1>ALttP Streams <span class="badge badge-danger">{{livestreams.length}} Live Now</span></h1>
  <hr style="border-color: #444;" />
  {{#each livestreams}}
    {{#multipleOf 3 @index}}
      {{#if (ne @index 0)}}
        </div>
        <div class="card-deck mt-2">
      {{else}}
        <div class="card-deck">
      {{/if}}
    {{/multipleOf}}

    {{#if isOnAlertsList}}
    <div class="card bg-primary">
    {{else}}
    <div class="card">
    {{/if}}

      <a href="https://twitch.tv/{{user_login}}" target="_blank"><img class="card-img-top"
          src="{{sizeStreamThumbnail thumbnail_url 320 180}}" alt="{{title}}" /></a>
      <div class="card-body text-center">
        <a href="https://twitch.tv/{{user_login}}" target="_blank">
          <h5 class="card-title text-center"><i class="fab fa-twitch"></i> {{user_name}}</h5>
        </a>
        <p class="card-text">{{title}}</p>
      </div>
      <div class="card-footer" style="display: flex; justify-content: space-between">
        <small class="text-muted">Started <em>{{{fromnow started_at}}}</em></small>
        <small class="text-muted"><strong>{{viewer_count}} viewers</strong></small>
      </div>
    </div>
  {{/each}}
</div>

  <script>
    $(document).ready(() => {
      $streamCountEl = $('span#livestreamsCount');


      $('.stream-ban-btn').on('click', (e) => {
        // determine if the button or icon was clicked
        $btn = null;
        if (e.target.localName !== 'button') {
          $btn = $(e.target).parents('button');
        } else {
          $btn = $(e.target);
        }

        let originalBtnText = $btn.html();
        $btn.attr('disabled', 'disabled').html('...');

        let streamId = $btn.attr('data-stream-id');

        if (confirm(`Are you sure you want to blacklist ${streamId} from the directory?`)) {
          $.ajax({
            type: "POST",
            url: "/twitch/livestreams/blacklist",
            data: { id: streamId },
            dataType: "json"
          })
            .done((data, textStatus, jqXHR) => {
              alert('Blacklisted!');
              $streamCountEl.html(parseInt($streamCountEl.html()) - 1);
              $btn.parents('div.card').remove();
            })
            .fail((jqXHR, textStatus, errorThrown) => {
              alert('Error: ' + jqXHR.responseText);
            })
            .always(() => {
              $btn.removeAttr('disabled').html(originalBtnText);
            });
        } else {
          $btn.removeAttr('disabled').html(originalBtnText);
        }
      });
    });
  </script>