<div class="container">
	<h1>ALttP Livestreams (<span id="livestreamsCount">{{livestreams.length}}</span>)</h1>
	{{#each livestreams}}
		{{#multipleOf 3 @index}}
			{{#if (ne @index 0)}}
				</div><div class="card-deck mt-2">
			{{else}}
				<div class="card-deck">
			{{/if}}
		{{/multipleOf}}
		<div class="card">
			<a href="{{channel.url}}" target="_blank"><img class="card-img-top" src="{{preview.medium}}" alt="{{channel.status}}" /></a>
			<div class="card-body text-center">
	      <img src="{{channel.logo}}" class="rounded-circle" width="64" height="64">
	      <a href="{{channel.url}}" target="_blank"><h5 class="card-title text-center">{{channel.display_name}}</h5></a>
	      <p class="card-text">{{channel.status}}</p>
	    </div>
	    <div class="card-footer">
	      <small class="text-muted">Went live <em>{{{fromnow created_at}}}</em>. Streaming to <strong>{{viewers}} viewers</strong>.</small>
	      {{#if ../user}}
	      	<span class="float-right"><button class="btn btn-sm btn-default stream-ban-btn" data-stream-id="{{channel.display_name}}"><i class="fas fa-eye-slash"></i></button></span>
      	{{/if}}
	    </div>
		</div>
	{{/each}}
</div>

<script>
	$(document).ready(() => {
		$streamCountEl = $('span#livestreamsCount');


		$('.stream-ban-btn').on('click', (e) => {
			// determine if the button or icon was clicked
			//console.log(e);
			$btn = null;
			if (e.target.localName !== 'button') {
				$btn = $(e.target).parents('button');
			} else {
				$btn = $(e.target);
			}
			
			let originalBtnText = $btn.html();
			$btn.attr('disabled', 'disabled').html('...');

			let streamId = $btn.attr('data-stream-id');

			if(confirm(`Are you sure you want to blacklist ${streamId} from the directory?`)) {
				$.ajax({
					type: "POST",
					url: "/twitch/livestreams/blacklist",
					data: {id: streamId},
					dataType: "json"
				})
				.done((data, textStatus, jqXHR) => {
					alert('Blacklisted!');
					$streamCountEl.html(parseInt($streamCountEl.html()) - 1);
					$btn.parents('div.card').remove();
				})
				.fail((jqXHR, textStatus, errorThrown) => {
					alert('Error: ' + jqXHR.responseText);
				})
				.always(() => {
					$btn.removeAttr('disabled').html(originalBtnText);
				});
			} else {
				$btn.removeAttr('disabled').html(originalBtnText);
			}
		});
	});
</script>