<div class="container" data-race-id="{{race._id}}" id="raceContainer">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	  	<li class="breadcrumb-item"><i class="fas fa-filter"></i></li>
	    <li class="breadcrumb-item"><a href="/tourney/today">Today</a></li>
	    <li class="breadcrumb-item"><a href="/tourney/upcoming">Upcoming</a></li>
	    <li class="breadcrumb-item"><a href="/tourney/recent">Recent</a></li>
	    <li class="breadcrumb-item"><a href="/tourney/all">All</a></li>
	  </ol>
	</nav>
	{{#with race}}
		<div class="btn-group mb-3" role="group" aria-label="Race Actions">
			{{#if srtvRace}}
				{{#unless srtvRace.started}}
					<button class="btn btn-primary" id="btnDiscordPings" data-toggle="modal" data-target="#discordPingsConfirmation" title="Discord Pings">
						<i class="fab fa-discord"></i> Discord Pings
					</button>
					<button class="btn btn-primary" id="btnSendRaceAnnouncements" data-toggle="modal" data-target="#sendRaceAnnouncementsConfirmation" title="Race Announcements">
						<i class="fas fa-bullhorn"></i> Race Announcements
					</button>
				{{/unless}}
				{{#unless filenames}}
					<button class="btn btn-primary" id="btnGenerateFilenames" data-toggle="modal" data-target="#generateFilenamesConfirmation" title="Generate Filenames">
						<i class="fas fa-random"></i> Generate Filenames
					</button>
				{{else}}
					{{#unless srtvRace.started}}
						<button class="btn btn-primary" id="btnSendFilenames" data-toggle="modal" data-target="#sendFilenamesConfirmation" title="Send Filenames">
							<i class="fas fa-share-square"></i> Send Filenames
						</button>
					{{/unless}}
				{{/unless}}
				{{#if srtvRace.ended}}
					<a href="https://challonge.com/ALTTP2018/report_scores" target="_blank" class="btn btn-primary" title="Report Scores">
						<i class="fas fa-clipboard-check"></i> Report Results
					</a>
				{{/if}}
			{{else}}
				<button class="btn btn-primary" id="btnCreateRaceChannel" data-toggle="modal" data-target="#createRaceChannelConfirmation">
					<i class="fas fa-plus"></i> Create Race Channel
				</button>
				{{#unless filenames}}
					<button class="btn btn-primary" id="btnGenerateFilenames" data-toggle="modal" data-target="#generateFilenamesConfirmation" title="Generate Filenames">
						<i class="fas fa-random"></i> Generate Filenames
					</button>
				{{/unless}}
			{{/if}}
		</div>
		<div class="row">
  		<div class="col-sm-4">
				<div class="card" id="raceCard">
					<div class="card-header">
						Race Information <span class="float-right">{{{raceStatus srtvRace}}}</span>
					</div>
				  <div class="card-body">
				    <h5 class="card-title">{{{decorateRacers match1.players}}}{{#if match2}}<br>{{{decorateRacers match2.players}}}{{/if}}</h5>
				    <h6 class="card-subtitle mb-2 text-muted">{{localize when ../user.timezone}}<br><small class="text-muted"><em>{{{timeago when}}}</em></small></h6>
				  </div>
			    <ul class="list-group list-group-flush">
				    <li class="list-group-item"><i class="fas fa-microphone"></i> {{{parseCommentary commentators}}}</li>
				    <li class="list-group-item"><i class="fas fa-tv"></i> {{{restreamStatus channel}}}</li>
				    {{#if match1.note}}
				    	<li class="list-group-item" title="Match 1 Note"><i class="far fa-comment-alt"></i> {{match1.note}}</li>
				    {{/if}}
				    {{#if match2.note}}
				    	<li class="list-group-item" title="Match 2 Note"><i class="far fa-comment-alt"></i> {{match2.note}}</li>
				    {{/if}}
				  </ul>
				</div>
				{{#if srtvRace}}
					<div class="card mt-1" id="srtvRaceCard">
						<div class="card-header">
							<span class="float-right">
							  <button class="btn btn-sm btn-light" type="button" data-toggle="modal" data-target="#updateRaceConfirmation" title="Sync Race Details"><i class="fas fa-sync-alt"></i></button>
							</span>
							SRTV Race
						</div>
				  	<div class="card-body">
				  		<a href="{{srtvUrl srtvRace.guid}}" target="_blank" title="Go to Race Channel" class="card-link"><small>{{srtvRace.guid}}</small></a>
				  	</div>
					  <ul class="list-group list-group-flush">
					  	{{#if (or srtvRace.ended srtvRace.canceled)}}
					  		{{#if srtvRace.ended}}
					  			<li class="list-group-item text-muted">Ended {{{timeago srtvRace.ended}}}</li>
				  			{{else}}
				  				<li class="list-group-item text-muted">Canceled {{{timeago srtvRace.canceled}}}</li>
				  			{{/if}}
					  	{{else}}
					  		{{#if srtvRace.started}}
							  	<li class="list-group-item text-muted">Started {{{timeago srtvRace.started}}}</li>
						  	{{/if}}
					  	{{/if}}
					  	{{#each srtvRace.entries.entries}}
					  		{{#if (and (ne status "REMOVED") (ne status "DROPPED"))}}
					  			<li class="list-group-item">{{{raceEntryStatus this ../srtvRace.started}}}</li>
				  			{{/if}}
					  	{{/each}}
					  </ul>
					</div>
				{{/if}}
			</div>
		  <div class="col-sm-8">
				<div class="card" id="racerCard">
				  <div class="card-header" style="padding-top: 6px;">
				    <ul class="nav nav-tabs card-header-tabs" id="racerInfoCard" role="tablist">
				    	{{#each racers}}
				    		<li class="nav-item">
					        <a class="nav-link" id="racer-{{id}}-tab" data-toggle="tab" href="#racer-{{id}}" role="tab" aria-controls="racer-{{id}}"><i class="far fa-user-circle"></i> {{displayName}}</a>
					      </li>
				    	{{/each}}
				    </ul>
				  </div>
				  <div class="card-body tab-content" id="racerInfoContent">
				  	{{#each racers}}
			  			<div class="tab-pane fade" id="racer-{{id}}" role="tabpanel" aria-labelledby="racer-{{id}}-tab">{{> racerCard this filenames=../filenames}}</div>
				  	{{/each}}
					</div>
			  </div>
		  </div>
		</div>
	{{/with}}
</div>

{{> modal id="createRaceChannelConfirmation" title="Confirmation" body="Are you sure you want to create this race?" affirmativeText="Yes, Create It!"}}
{{> modal id="updateRaceConfirmation" title="Confirmation" body="Do you want to sync race details with SRTV?" affirmativeText="Yes, Update!"}}
{{> modal id="sendRaceAnnouncementsConfirmation" title="Confirmation" body="Are you sure you want to send the announcements for this race?" affirmativeText="Yes, Send Them!"}}
{{> modal id="generateFilenamesConfirmation" title="Confirmation" body="Are you sure you want to generate the filenames for this race?" affirmativeText="Yes, Generate Them!"}}
{{> modal id="sendFilenamesConfirmation" title="Confirmation" body="Are you sure you want to send the filenames for this race?" affirmativeText="Yes, Send Them!"}}

<div class="modal" tabindex="-1" role="dialog" id="discordPingsConfirmation">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to ping the racers and commentators in Discord ({{config.tourney.racePings.guildId}}#{{config.tourney.racePings.textChannelName}}) with the race channel?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="btndiscordPingsConfirmationAffirmative">Yes, Ping Them!</button>
      </div>
    </div>
  </div>
</div>

<script>
	$(document).ready(() => {
		$('#racerInfoCard a').on('click', function (e) {
		  e.preventDefault();
		  $(this).tab('show');
		});
		// show first tab of racer info
		$('#racerInfoCard li:first-child a').tab('show');

		$.timeago.settings.allowFuture = true;
		$("time.timeago").timeago();

		var raceId = $('#raceContainer').data('race-id');

		$('#btncreateRaceChannelConfirmationAffirmative').on('click', (e) => {
			let btn = $(e.target);
			let originalBtnText = btn.html();
			btn.attr('disabled', 'disabled').html('Creating...');

			// make call to server to create the race
			$.ajax({
				type: "POST",
				url: "/tourney/races",
				data: {id: raceId},
				dataType: "json"
			})
			.done((data, textStatus, jqXHR) => {
				alert('Race created!');
				location.reload();
			})
			.fail((jqXHR, textStatus, errorThrown) => {
				alert('Error: ' + jqXHR.responseText);
			})
			.always(() => {
				btn.removeAttr('disabled').html(originalBtnText);
			});
		});

		$('#btnupdateRaceConfirmationAffirmative').on('click', (e) => {
			let btn = $(e.target);
			let originalBtnText = btn.html();
			btn.attr('disabled', 'disabled').html('Updating...');

			// make call to server to update the SRTV race
			$.ajax({
				type: "POST",
				url: "/tourney/races/srtvSync",
				data: {id: raceId},
				dataType: "json"
			})
			.done((data, textStatus, jqXHR) => {
				alert('Race updated!');
				location.reload();
			})
			.fail((jqXHR, textStatus, errorThrown) => {
				alert('Error: ' + jqXHR.responseText);
			})
			.always(() => {
				btn.removeAttr('disabled').html(originalBtnText);
			});
		});

		$('#btnsendRaceAnnouncementsConfirmationAffirmative').on('click', (e) => {
			let btn = $(e.target);
			let originalBtnText = btn.html();
			btn.attr('disabled', 'disabled').html('Sending...');

			// make call to server to send the announcements for this race
			$.ajax({
				type: "POST",
				url: `/tourney/races/announce`,
				data: {"id": raceId},
				dataType: "json"
			})
			.done((data, textStatus, jqXHR) => {
				alert('Announcements sent!');
			})
			.fail((jqXHR, textStatus, errorThrown) => {
				alert('Error: ' + jqXHR.responseText);
			})
			.always(() => {
				btn.removeAttr('disabled').html(originalBtnText);
				$('#sendRaceAnnouncementsConfirmation').modal('hide');
			});
		});

		$('#btndiscordPingsConfirmationAffirmative').on('click', (e) => {
			let btn = $(e.target);
			let originalBtnText = btn.html();
			btn.attr('disabled', 'disabled').html('Pinging...');

			// make call to server to send the announcements for this race
			$.ajax({
				type: "POST",
				url: `/tourney/races/discordPing`,
				data: {"id": raceId},
				dataType: "json"
			})
			.done((data, textStatus, jqXHR) => {
				console.log(data);
				alert('Pings sent!');
			})
			.fail((jqXHR, textStatus, errorThrown) => {
				alert('Error: ' + jqXHR.responseText);
			})
			.always(() => {
				btn.removeAttr('disabled').html(originalBtnText);
				$('#discordPingsConfirmation').modal('hide');
			});
		});

		$('#btngenerateFilenamesConfirmationAffirmative').on('click', (e) => {
			let btn = $(e.target);
			let originalBtnText = btn.html();
			btn.attr('disabled', 'disabled').html('Generating...');

			// make call to server to generate the filenames for this race
			$.ajax({
				type: "POST",
				url: `/tourney/races/filenames`,
				data: {"id": raceId},
				dataType: "json"
			})
			.done((data, textStatus, jqXHR) => {
				alert('Filenames generated!');
				location.reload();
			})
			.fail((jqXHR, textStatus, errorThrown) => {
				alert('Error: ' + jqXHR.responseText);
			})
			.always(() => {
				btn.removeAttr('disabled').html(originalBtnText);
				$('#generateFilenamesConfirmation').modal('hide');
			});
		});

		$('#btnsendFilenamesConfirmationAffirmative').on('click', (e) => {
			let btn = $(e.target);
			let originalBtnText = btn.html();
			btn.attr('disabled', 'disabled').html('Sending...');

			// make call to server to send the filenames for this race
			$.ajax({
				type: "POST",
				url: `/tourney/races/sendFilenames`,
				data: {"id": raceId},
				dataType: "json"
			})
			.done((data, textStatus, jqXHR) => {
				alert('Filenames sent!');
				location.reload();
			})
			.fail((jqXHR, textStatus, errorThrown) => {
				alert('Error: ' + jqXHR.responseText);
			})
			.always(() => {
				btn.removeAttr('disabled').html(originalBtnText);
				$('#sendFilenamesConfirmation').modal('hide');
			});
		});
	});
</script>