<div class="container" data-race-id="{{race._id}}" id="raceContainer">
	<h1>Tourney Race Management</h1>
	{{#with race}}
		<div class="btn-group mt-3 mb-3" role="group" aria-label="Race Actions">
			{{#if srtvRace}}
				<a href="{{srtvUrl srtvRace.guid}}" target="_blank" class="btn btn-primary btn-lg" title="Go to Race Channel">
					<i class="fas fa-external-link-alt"></i> Go To Race Channel
				</a>
				<button class="btn btn-primary btn-lg" id="btnDiscordPing" data-toggle="modal" data-target="#discordPingConfirmation" title="Discord Ping">
					<i class="fab fa-discord"></i> Discord Ping
				</button>
				<button class="btn btn-primary btn-lg" id="btnSendRaceAnnouncements" data-toggle="modal" data-target="#sendRaceAnnouncementsConfirmation" title="Race Announcements">
					<i class="fas fa-bullhorn"></i> Race Announcements
				</button>
				{{#unless filenames}}
					<button class="btn btn-primary btn-lg" id="btnGenerateFilenames" data-toggle="modal" data-target="#generateFilenamesConfirmation" title="Generate Filenames">
						<i class="fas fa-random"></i> Generate Filenames
					</button>
				{{else}}
					<button class="btn btn-primary btn-lg" id="btnSendFilenames" data-toggle="modal" data-target="#sendFilenamesConfirmation" title="Send Filenames">
						<i class="fas fa-share-square"></i> Send Filenames
					</button>
				{{/unless}}
				<a href="https://challonge.com/ALTTP2018/report_scores" target="_blank" class="btn btn-primary btn-lg" title="Report Scores">
					<i class="fas fa-clipboard-check"></i> Report Results
				</a>
			{{else}}
				<button class="btn btn-primary btn-lg" id="btnCreateRaceChannel" data-toggle="modal" data-target="#createRaceChannelConfirmation">
					<i class="fas fa-plus"></i> Create Race Channel
				</button>
			{{/if}}
		</div>
		<div class="row">
  		<div class="col-sm-4">
				<div class="card" id="raceCard">
					<div class="card-header">Race Information</div>
				  <div class="card-body">
				    <h5 class="card-title">{{{decorateRacers match1.players}}}{{#if match2}}<br>{{{decorateRacers match2.players}}}{{/if}}</h5>
				    <h6 class="card-subtitle mb-2 text-muted">{{localize when}}<br><small class="text-muted"><em>{{{timeago when}}}</em></small></h6>
				  </div>
			    <ul class="list-group list-group-flush">
				    <li class="list-group-item"><i class="fas fa-microphone"></i> {{{parseCommentary commentators}}}</li>
				    <li class="list-group-item"><i class="fas fa-tv"></i> {{{restreamStatus channel}}}</li>
			    	{{#each filenames}}
			    		<li class="list-group-item"><i class="far fa-file"></i> <strong>{{filename}}</strong> <i class="far fa-arrow-alt-circle-right"></i> <small>{{racerName}}</small></li>
			    	{{/each}}
				  </ul>
				</div>
			</div>
		  <div class="col-sm-8">
				<div class="card" id="racerCard">
				  <div class="card-header">
				    <ul class="nav nav-tabs card-header-tabs" id="racerInfoCard" role="tablist">
				    	{{#each match1.players}}
	                <li class="nav-item">
						        <a class="nav-link" id="racer-{{id}}-tab" data-toggle="tab" href="#racer-{{id}}" role="tab" aria-controls="racer-{{id}}"><i class="far fa-user-circle"></i> {{displayName}}</a>
						      </li>
			        {{/each}}
			        {{#each match2.players}}
			          <li class="nav-item">
					        <a class="nav-link" id="racer-{{id}}-tab" data-toggle="tab" href="#racer-{{id}}" role="tab" aria-controls="racer-{{id}}"><i class="far fa-user-circle"></i> {{displayName}}</a>
					      </li>
			        {{/each}}
				    </ul>
				  </div>
				  <div class="card-body tab-content" id="racerInfoContent">
				  	{{#each match1.players}}
					  	<div class="tab-pane fade" id="racer-{{id}}" role="tabpanel" aria-labelledby="racer-{{id}}-tab">{{> racerCard this}}</div>
				  	{{/each}}
				  	{{#each match2.players}}
				  		<div class="tab-pane fade" id="racer-{{id}}" role="tabpanel" aria-labelledby="racer-{{id}}-tab">{{> racerCard this}}</div>
				  	{{/each}}
					</div>
			  </div>
		  </div>
		</div>
	{{/with}}
</div>

{{> modal id="createRaceChannelConfirmation" title="Confirmation" body="Are you sure you want to create this race?" affirmativeText="Yes, Create It!"}}
{{> modal id="discordPingConfirmation" title="Confirmation" body="Are you sure you want to ping the racers and commentators in discord with the race channel?" affirmativeText="Yes, Ping Them!"}}
{{> modal id="sendRaceAnnouncementsConfirmation" title="Confirmation" body="Are you sure you want to send the announcements for this race?" affirmativeText="Yes, Send Them!"}}
{{> modal id="generateFilenamesConfirmation" title="Confirmation" body="Are you sure you want to generate the filenames for this race?" affirmativeText="Yes, Generate Them!"}}
{{> modal id="sendFilenamesConfirmation" title="Confirmation" body="Are you sure you want to send the filenames for this race?" affirmativeText="Yes, Send Them!"}}

<script>
	$(document).ready(() => {
		$('#racerInfoCard a').on('click', function (e) {
		  e.preventDefault();
		  $(this).tab('show');
		});
		// show first tab of racer info
		$('#racerInfoCard li:first-child a').tab('show');

		$.timeago.settings.allowFuture = true;
		$("time.timeago").timeago();

		var raceId = $('#raceContainer').data('race-id');

		$('#btncreateRaceChannelConfirmationAffirmative').on('click', (e) => {
			let btn = $(e.target);
			let originalBtnText = btn.html();
			btn.attr('disabled', 'disabled').html('Creating...');

			// make call to server to create the race
			$.ajax({
				type: "POST",
				url: "/tourney/races",
				data: {id: raceId},
				dataType: "json"
			})
			.done((data, textStatus, jqXHR) => {
				alert('Race created!');
				location.reload();
			})
			.fail((jqXHR, textStatus) => {
				alert('Request failed: ' + textStatus);
				location.reload();
			})
			.always(() => {
				btn.removeAttr('disabled').html(originalBtnText);
			});
		});

		$('#btnsendRaceAnnouncementsConfirmationAffirmative').on('click', (e) => {
			let btn = $(e.target);
			let originalBtnText = btn.html();
			btn.attr('disabled', 'disabled').html('Sending...');

			// make call to server to send the announcements for this race
			$.ajax({
				type: "POST",
				url: `/tourney/races/announce`,
				data: {"id": raceId},
				dataType: "json"
			})
			.done((data, textStatus, jqXHR) => {
				alert('Announcements sent!');
			})
			.fail((jqXHR, textStatus) => {
				alert('Request failed: ' + textStatus);
			})
			.always(() => {
				btn.removeAttr('disabled').html(originalBtnText);
				$('#sendRaceAnnouncementsConfirmation').modal('hide');
			});
		});

		$('#btndiscordPingConfirmationAffirmative').on('click', (e) => {
			let btn = $(e.target);
			let originalBtnText = btn.html();
			btn.attr('disabled', 'disabled').html('Pinging...');

			// make call to server to send the announcements for this race
			$.ajax({
				type: "POST",
				url: `/tourney/races/discordPing`,
				data: {"id": raceId},
				dataType: "json"
			})
			.done((data, textStatus, jqXHR) => {
				console.log(data);
				alert('Pings sent!');
			})
			.fail((jqXHR, textStatus) => {
				console.log(textStatus);
				alert('Request failed: ' + textStatus);
			})
			.always(() => {
				btn.removeAttr('disabled').html(originalBtnText);
				$('#discordPingConfirmation').modal('hide');
			});
		});

		$('#btngenerateFilenamesConfirmationAffirmative').on('click', (e) => {
			let btn = $(e.target);
			let originalBtnText = btn.html();
			btn.attr('disabled', 'disabled').html('Generating...');

			// make call to server to generate the filenames for this race
			$.ajax({
				type: "POST",
				url: `/tourney/races/filenames`,
				data: {"id": raceId},
				dataType: "json"
			})
			.done((data, textStatus, jqXHR) => {
				alert('Filenames generated!');
				location.reload();
			})
			.fail((jqXHR, textStatus) => {
				console.log(textStatus);
				alert('An error occurred while generating filenames!');
			})
			.always(() => {
				btn.removeAttr('disabled').html(originalBtnText);
				$('#generateFilenamesConfirmation').modal('hide');
			});
		});

		$('#btnsendFilenamesConfirmationAffirmative').on('click', (e) => {
			let btn = $(e.target);
			let originalBtnText = btn.html();
			btn.attr('disabled', 'disabled').html('Sending...');

			// make call to server to send the filenames for this race
			$.ajax({
				type: "POST",
				url: `/tourney/races/sendFilenames`,
				data: {"id": raceId},
				dataType: "json"
			})
			.done((data, textStatus, jqXHR) => {
				alert('Filenames sent!');
				location.reload();
			})
			.fail((jqXHR, textStatus) => {
				console.log(textStatus);
				alert('An error occurred while sending filenames!');
			})
			.always(() => {
				btn.removeAttr('disabled').html(originalBtnText);
				$('#sendFilenamesConfirmation').modal('hide');
			});
		});
	});
</script>