<div class="container">
	<h1>Tourney Schedule</h1>

	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Scheduled For</th>
				<th>Racers</th>
				<th>Commentary</th>
				<th>Restream</th>
			</tr>
		</thead>
		{{#each events}}
			<tr>
				<td>
					<a class="btn btn-info btn-sm" href="/tourney/races/{{_id}}" title="Manage Race"><i class="fas fa-clipboard-list"></i></a>
					{{#if srtvRace}}
						<a href="{{srtvUrl srtvRace.guid}}" target="_blank" class="btn btn-primary btn-sm"><img src="/img/srtv-logo-16x16.png" /></a>
					{{/if}}
				</td>
				<td>{{localize when}}</td>
				<td>
					{{{decorateRacers match1.players}}}
					{{#if match2}}
						<br>{{{decorateRacers match2.players}}}
					{{/if}}
				</td>
				<td>
					{{{parseCommentary commentators}}}
				</td>
				<td>{{{restreamStatus channel}}}</td>
			</tr>
		{{/each}}
	</table>
</div>