<div class="container">
	<h1>Tourney Schedule</h1>

	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Scheduled For</th>
				<th>Racers</th>
				<th>Commentary</th>
				<th>Restream</th>
			</tr>
		</thead>
		{{#each events}}
			<tr>
				<td><a class="btn btn-info" href="/tourney/races/{{_id}}"><i class="fas fa-clipboard-list"></i></a></td>
				<td>{{localize when}}</td>
				<td>
					{{{parseRacers match1.players}}}
					{{{parseRacers match2.players}}}
				</td>
				<td>
					{{{parseCommentary commentators}}}
				</td>
				<td>
					{{#if channel}}
						<strong>{{channel.name}}</strong>
					{{else}}
						<em>Undecided</em>
					{{/if}}
				</td>
			</tr>
		{{/each}}
	</table>
</div>